# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.MinecraftServerController.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\filer\Desktop\Program Panda\MinecraftServerController\.idea\.idea.MinecraftServerController\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
